*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;
}
/*predefinições da pagina*/
body{
    height:100%;
    width:100%;
    font-family:arial;
}
img#logo{
    width:200px;
    height:200px;
}
img#icons{
    width:90px;
    height:90px;
}
/*cabecalho*/
.cabecalho{
    background-color:rgb(18, 168, 18);
    width: 100%;
    height:200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.logocabecalho{
    display:flex;
    flex-direction: row;
    align-items:center;
}
/*barra de pesquisa*/
div.barradepesquisa{
    width:60%;
    height:40%;
    display:flex;
}
label#barradepesquisa{
    font-size:32px;
    position: absolute;
    margin-left: 15px;
    margin-top:23px;
    color:#0F7A49;
    cursor:text;
}
.bape{
    width:100%;
    height:100%;
    border-radius:10px;
    border:none;
    padding:30px;
    font-size: 30px;
}
.bape:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.bape:focus ~ label{
    transform: translateY(-65px);
}
button#btnbusca{
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    border:none;
    margin-left:-29px;
    height:80px;
    width:15%;
    padding-top:5px;
    padding-bottom:8px;
    font-size:30px;
    background:#feed21;
    color:#0F7A49;
}
/*entrar e menu do usuario*/
.entrar{
   display:flex; 
   justify-content: center;
   align-items: center;
   gap:30px;
}
/*menu*/
button#dropbtn{
   font-size:40px;
   text-decoration: none;
   color:#0F7A49;
   background:none;
   border:none;
}
.dropdown{
    display:inline-block;
    position:relative;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:rgb(18, 168, 18);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:300px;
    padding:15px;
    margin-top:-5px;
}
.dropdown-content a{
    color:#0F7A49;
    font-size:40px;
    padding:5px;
    text-decoration:none;
    display:block;
    background:rgb(18, 168, 18);
}
.dropdown-content a:hover{
    color:#feed21;
}
.dropdown:hover .dropdown-content{
    display:block;
}
/*menu de categorias*/
.menudecategorias{
    background:#feed21;
    padding:10px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
a#categoria{
    text-decoration:none;
    color:#0F7A49;
    font-size:35px;
    font-family: 'Open Sans', sans-serif;
}
/*pagina compra do produto*/
.container{
    width:100%;
    gap:50px;
    display:flex;
    flex-direction: row;
    margin-top:50px;
}
.compra{
    width:60%;
    height:1040px;
    margin-right:10px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
/*imagem do produto*/
img#imgproduto{
    height:1040px;
    width:40%;
    border:solid 5px #77807c;
    margin-left:10px;
}
/*texto do produto*/
#produto{
    text-decoration: none;
    color:black;
    font-size: 30px;
}
/*preços*/
#preçocortado{
    color:red;
    text-decoration: none;
    font-size:30px;
    text-decoration: line-through;
}
#preço{
    color: green;
    text-decoration: none;
    font-size: 50px;
}
#txtcompra{
    font-size:32px;
    color:black;
}
h1{
    font-size:50px;
}
/*botoes de tamanho*/
.botoestam{
    display:flex;
    flex-direction: row;
    gap:12px;
}
.bubutao{
    height:50px;
    width:50px;
    border-radius:50%;
    border:solid 1px #0F7A49;
    font-size:25px;
    cursor:pointer;
}
.bubutao:focus{
    border:solid 1px #feed21;
}
.botaocomprar{
    width:200px;
    height:100px;
    background-color: #137a0f;
    font-size:30px;
    color:white;
    margin-top:10px;
    border-radius:40px;
    border:none;
    position: relative;
    cursor: pointer;
}
/*personalização*/
details{
     font-size:30px;
     margin-top:5px;
     height: 260px;;
}
select{
    height: 200px;
    position:absolute;
    width:100px;
    font-size:25px;
    margin-left: 20px;;
}
summary{
    margin-top:10px;
}
.perso{
    width:240px;
    height:35px;
    padding:10px;
    font-size:30px;
}
/*rodape*/
.rodape{
    width:100%;
    height:230px;
    background:rgb(36, 36, 156);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.contentrodape{
    font-size: 30px;
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:15px;
    color:white;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}
#rodapelabel{
    color:white;
    font-size: 34px;
    white-space: nowrap;
}
#inputrodape{
    width:50%;
    height:60px;
    font-size: 30px;
    padding:5px;
}
input#checkbox{
   width:50px;
   height:50px;
}
#rodapebutton{
    width:230px;
    height:70px;
    color:white;
    background:#0F7A49;
    font-size:30px;
    border:none;
    border-radius:15px;
    position:absolute;
    margin-top:150px;
    margin-left:-10px;
}
/*rodape p2*/
.partetworodape{
    width:100%;
    margin-top: 10px;
    margin-bottom: 50px;
    height:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.primeirobloco{
    display:flex;
    flex-direction: row;
    gap:50px;
    margin:50px;
}
.segundobloco{
    display:flex;
}
#rodapetxt{
    color:black;
    text-decoration: underline;
    font-size: 30px;
}
#tagprodape{
    font-size: 30px;
}
#uf{
    width:300px;
    height:40px;
}
#cidade{
    width:300px;
    height:40px;
}
#bairro{
    width:300px;
    height:40px;
}
#cep{
    width:300px;
    height:40px;
}
#rua{
    width:300px;
    height:40px;
}